# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# Top-most editor config file
root = true

### Global ###
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 120

### Go ###
[*.go]
indent_style = tab
indent_size = 4

### Python ###
[*.py]
indent_size = 4

### Markdown ###
[*.md]
# This prevents annoying hard-wrapping in some IDES eg. IntelliJ
max_line_length = 0
trim_trailing_whitespace = false

### Others ###
[Makefile]
tab_width = 2
indent_style = tab