{{define "header"}}
  <nav class="navbar navbar-expand-xl shadow-2-strong text-light" style="background-color: #1976d2; min-height: 64px;" role="navigation">
  <div class="container-fluid">
    <i class="fas fa-smile-wink me-3 fa-2x"></i>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        Go Recipes
      </li>
    </ul>
  </div>
</nav>
{{end}}
