@use '@material/button/mdc-button';
@use '@material/button';

@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/textfield';

@include button.core-styles;
@include textfield.core-styles;

body {
  font-family: -apple-system, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.signin-button {
  @include button.filled-accessible(#3f51b5);
}

.container {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.paper {
  display: flex;
  margin-top: 32px;
  align-items: center;
  flex-direction: column;
}

.message {
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: center;
}

.textfield {
  margin-top: 16px;
  margin-bottom: 8px;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.button {
  text-transform: uppercase;
  font-weight: 500;
}
